html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, strong, th, label {
  font-weight: bold;
}

h1 {
  font-size: 20px;
  margin: 0 0 10px;
}

h2 {
  font-size: 18px;
  margin: 24px 0 10px;
}

h3 {
  font-size: 16px;
  margin: 16px 0 4px;
}

h4 {
  font-size: 14px;
  margin: 8px 0 4px;
}

p {
  line-height: 20px;
  margin: 0 0 15px;
}

table {
  margin: 8px 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 3px 5px;
}

a {
  color: #c45;
  text-decoration: none;
}
a:hover {
  color: #911;
  text-decoration: underline;
}
/*a:visited {
  color: #c77;
}*/


#container {
  margin: auto;
  width: 740px;
  padding: 20px;
}

h3.logo {
  font-size: 30px;
  margin: 0 0 16px;
}
.logo a {
  color: #333;
  text-decoration: none;
}

#nav_main {
  font-size: 18px;
  margin: 0 0 20px;
  padding: 0;
}

#nav_main li {
  float: left;
  list-style-type: none;
  padding: 0 16px 0 0;
}

#nav_main:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

div.section {
  margin: 0 0 30px;
}

ul {
  margin: 0 0 12px;
  padding: 0 0 0 30px;
}

ul li {
  list-style-type: disc;
  padding: 2px 0;
}

ul li ul {
  margin: 0;
  padding: 0 0 0 30px;
}

ul li ul li {
  list-style-type: circle;
}

pre, blockquote {
  margin: 14px 28px;
}

code {
  color: #060;
}

.args {
  color: #060;
}

.warn {
  color: red;
}